In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("framingham_heart_study.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4240 non-null   int64
 1   age              4240 non-null   int64
 2   education        4135 non-null   float64
 3   currentSmoker    4240 non-null   int64
 4   cigsPerDay       4211 non-null   float64
 5   BPMeds           4187 non-null   float64
 6   prevalentStroke  4240 non-null   int64
 7   prevalentHyp     4240 non-null   int64
 8   diabetes         4240 non-null   int64
 9   totChol          4190 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4221 non-null   float64
 13  heartRate        4239 non-null   float64
 14  glucose          3852 non-null   float64
 15  TenYearCHD       4240 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 530.1 KB

In [4]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [5]:
data.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [6]:
# checking columns with null values
null_columns=data.columns[data.isnull().any()]
null_columns

Index(['education', 'cigsPerDay', 'BPMeds', 'totChol', 'BMI', 'heartRate',
       'glucose'],
      dtype='object')

In [7]:
# showing rowa with missing education value
null_education = pd.isnull(data["education"])
data[null_education]

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
33,1,61,NaN,1,5.0,0.0,0,0,0,175.0,134.0,82.5,18.59,72.0,75.0,1
36,1,56,NaN,0,0.0,0.0,0,0,0,257.0,153.5,102.0,28.09,72.0,75.0,0
72,0,37,NaN,0,0.0,0.0,0,0,0,200.0,119.0,79.0,33.29,67.0,87.0,0
184,1,67,NaN,0,0.0,0.0,0,0,0,257.0,125.0,67.5,25.95,65.0,69.0,0
213,0,34,NaN,0,0.0,0.0,0,0,0,163.0,107.0,71.0,23.88,73.0,80.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4082,1,47,NaN,0,0.0,0.0,0,1,0,254.0,137.5,91.0,31.98,75.0,69.0,0
4098,1,37,NaN,1,20.0,0.0,0,0,0,184.0,113.0,81.0,22.16,85.0,63.0,0
4121,0,55,NaN,0,0.0,0.0,0,0,0,240.0,145.0,96.0,26.27,72.0,NaN,0
4122,1,69,NaN,1,23.0,0.0,0,1,0,186.0,179.0,93.0,26.64,72.0,67.0,0
4138,1,67,NaN,1,25.0,0.0,0,1,0,221.0,144.0,84.0,24.92,72.0,73.0,0

In [8]:
# creating an array of null values in the nuclei column
instances = len(data['education'])

# not_null_education = pd.isnull(data["education"])
null_education = data[data.education.isnull()]
print("Null education data:", len(null_education))

# creating an array of non-null values in the nuclei column
non_null_education = data[data.education.notnull()]
print("Non Null education data: ", len(non_null_education))

Null education data: 105
Non Null education data:  4135

In [9]:
# mean for non-null education values
edu_mean = np.nanmean(data["education"])
edu_mean

1.9794437726723095

In [10]:
# replacing missing education values with mean
data["education"].fillna(edu_mean, inplace=True)

In [11]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [12]:
data.isnull().sum()

male                 0
age                  0
education            0
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [13]:
# checking null rows with empty cigsPerDay column
null_cigsPerDay = pd.isnull(data["cigsPerDay"])
data[null_cigsPerDay]

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
131,1,43,4.000000,1,NaN,0.0,0,0,0,222.0,109.5,69.0,25.50,75.0,NaN,0
139,1,49,4.000000,1,NaN,0.0,0,0,0,256.0,127.5,81.5,28.21,93.0,85.0,1
1046,0,49,1.000000,1,NaN,0.0,0,0,0,280.0,120.0,80.0,22.33,90.0,75.0,0
1292,1,42,3.000000,1,NaN,0.0,0,0,0,225.0,122.5,80.0,25.54,90.0,90.0,0
1347,0,58,4.000000,1,NaN,0.0,0,1,0,270.0,195.0,117.5,23.35,75.0,NaN,0
1451,1,54,1.000000,1,NaN,0.0,0,0,0,219.0,110.0,72.0,26.05,95.0,86.0,0
1497,1,55,1.000000,1,NaN,0.0,0,0,0,214.0,132.5,85.5,29.25,70.0,103.0,0
1610,0,61,1.000000,1,NaN,0.0,0,1,0,356.0,168.0,98.0,27.30,103.0,106.0,0
1625,0,49,2.000000,1,NaN,0.0,0,1,0,233.0,158.0,102.0,25.31,90.0,72.0,0
1870,0,47,2.000000,1,NaN,0.0,0,0,0,365.0,127.0,76.0,24.44,72.0,80.0,0
1963,1,45,3.000000,1,NaN,0.0,0,1,0,170.0,145.5,99.0,26.74,83.0,85.0,0
1980,0,60,2.000000,1,NaN,0.0,0,0,0,228.0,112.0,74.0,24.51,63.0,NaN,0
2405,0,49,1.000000,1,NaN,0.0,0,0,0,252.0,123.0,69.0,21.45,72.0,89.0,0
2513,1,42,1.000000,1,NaN,0.0,0,0,0,226.0,119.0,80.0,25.29,62.0,98.0,0
2542,1,57,1.979444,1,NaN,0.0,0,0,0,223.0,107.5,72.5,24.74,62.0,103.0,0
3021,1,53,2.000000,1,NaN,0.0,0,0,0,276.0,130.0,86.0,24.21,58.0,82.0,0
3034,0,57,1.979444,1,NaN,0.0,0,0,0,229.0,115.0,69.0,24.43,80.0,93.0,0
3094,0,49,1.000000,1,NaN,0.0,0,1,0,214.0,172.0,111.0,40.51,80.0,70.0,1
3106,0,47,3.000000,1,NaN,0.0,0,0,0,321.0,132.0,88.0,28.14,90.0,74.0,0
3108,1,39,2.000000,1,NaN,0.0,0,0,0,285.0,121.0,82.0,27.62,85.0,65.0,0
3156,1,37,3.000000,1,NaN,0.0,0,0,0,188.0,123.5,77.0,26.62,65.0,80.0,0
3177,1,45,2.000000,1,NaN,0.0,0,0,0,248.0,121.0,72.0,27.88,64.0,88.0,0
3309,1,58,2.000000,1,NaN,0.0,0,0,0,235.0,127.5,76.0,21.02,81.0,135.0,0
3432,0,55,1.000000,1,NaN,0.0,0,1,0,213.0,163.0,91.0,28.66,69.0,66.0,0
3579,1,42,1.000000,1,NaN,0.0,0,0,0,196.0,123.0,73.0,22.06,66.0,NaN,0
3715,0,57,2.000000,1,NaN,0.0,0,0,0,270.0,120.0,79.0,24.83,95.0,81.0,0
3847,0,41,1.000000,1,NaN,0.0,0,0,0,171.0,135.0,82.5,24.35,79.0,82.0,0
3924,0,52,2.000000,1,NaN,0.0,0,1,0,292.0,157.0,112.0,29.56,95.0,84.0,0
3942,0,39,3.000000,1,NaN,0.0,0,0,0,197.0,126.5,76.5,19.71,55.0,63.0,0

In [14]:
# counting number of non-zeros in cigsPerDay column
cigs_per_day = data["cigsPerDay"]
print("Non Zeros: ", np.count_nonzero(data["cigsPerDay"]))

Non Zeros:  2095

In [15]:
# Replacing null values in cigsPerDay with mean
# cigs = []
# if cigs_per_day.any() != 0.0:
#     for cgs in range(data["cigsPerDay"]):
#         cigs += cgs
# cigs
cgs_pd = data["cigsPerDay"].to_numpy()
cigsPerDay_non_zero_vals = np.nonzero(cgs_pd)
print("CPD non zeros:",cigsPerDay_non_zero_vals)
# cigsPerDay_mean = np.nanmean(data["cigsPerDay"])
cigsPerDay_mean = np.nanmean(np.where(data["cigsPerDay"]!=0,data["cigsPerDay"],np.nan))
# new_mean = np.nanmean(np.where(data["cigsPerDay"]!=0,data["cigsPerDay"],np.nan))
print("New mean:",cigsPerDay_mean)
data["cigsPerDay"].notnull().sum()
data["cigsPerDay"].fillna(cigsPerDay_mean, inplace=True)

CPD non zeros: (array([   2,    3,    4, ..., 4235, 4236, 4239], dtype=int64),)
New mean: 18.35624394966118

In [16]:
data.isnull().sum()

male                 0
age                  0
education            0
currentSmoker        0
cigsPerDay           0
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [17]:
# finding BPMeds mode
BPMeds_mode = data["BPMeds"].mode()
print("Mode:",BPMeds_mode)

Mode: 0    0.0
dtype: float64

In [18]:
# Replacing BPMeds nulls with the mode
data["BPMeds"].fillna(BPMeds_mode, inplace=True)

In [19]:
print(data.isnull().sum())
pd.isnull(data).values.any()

male                 0
age                  0
education            0
currentSmoker        0
cigsPerDay           0
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

True

In [20]:
# finding mean for totChol column
totChol_mean = np.nanmean(data["totChol"])
print("Total Col mean:",totChol_mean)

Total Col mean: 236.69952267303103

In [21]:
# replacing missing totChol with mean
data["totChol"].fillna(value=totChol_mean, inplace=True)

In [22]:
data.isnull().sum()

male                 0
age                  0
education            0
currentSmoker        0
cigsPerDay           0
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol              0
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [23]:
# finding BMI mean
bmi_mean = np.nanmean(data["BMI"])
print("BMI Mean:",bmi_mean)

BMI Mean: 25.80080075811419

In [24]:
# replacing missing BMI with mean
data["BMI"].fillna(value=bmi_mean, inplace=True)

In [25]:
data.isnull().sum()

male                 0
age                  0
education            0
currentSmoker        0
cigsPerDay           0
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol              0
sysBP                0
diaBP                0
BMI                  0
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [26]:
# finding mean for the heartRate
heartRate_mean = np.nanmean(data["heartRate"])
print("HeartRate Mean:",heartRate_mean)

HeartRate Mean: 75.87898089171975

In [27]:
# replacing missing heartRate with mean
data["heartRate"].fillna(value=heartRate_mean, inplace=True)

In [28]:
data.isnull().sum()

male                 0
age                  0
education            0
currentSmoker        0
cigsPerDay           0
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol              0
sysBP                0
diaBP                0
BMI                  0
heartRate            0
glucose            388
TenYearCHD           0
dtype: int64

In [29]:
# finding glucose mean
glucose_mean = np.nanmean(data["glucose"])
print("Glucose mean:",glucose_mean)

Glucose mean: 81.96365524402907

In [30]:
data["glucose"].fillna(value=glucose_mean, inplace=True)

In [31]:
data.isnull().sum()

male                0
age                 0
education           0
currentSmoker       0
cigsPerDay          0
BPMeds             53
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol             0
sysBP               0
diaBP               0
BMI                 0
heartRate           0
glucose             0
TenYearCHD          0
dtype: int64

In [32]:
# checkingif there is any missing value
pd.isnull(data).values.any()

True

In [33]:
# feature_cols = ["male","age","education","currentSmoker","cigsPerDay","BPMeds","prevalentStroke","prevalentHyp","diabetes","totChol","sysBP","BMI","heartRate","glucose"]

In [34]:
# feature_columns
feature_cols = data.drop(["TenYearCHD"], axis=1)
# target variable
target_col = data["TenYearCHD"]

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
# creating the training and validation set
x_train, x_test, y_train, y_test = train_test_split(feature_cols, target_col, random_state=10, stratify=target_col, test_size=0.25)

In [37]:
# distribution in training set
y_train.value_counts(normalize=True)

0    0.848113
1    0.151887
Name: TenYearCHD, dtype: float64

In [38]:
# distribution in testing set
y_test.value_counts(normalize=True)

0    0.848113
1    0.151887
Name: TenYearCHD, dtype: float64

In [39]:
# shape of training set
x_train.shape, y_train.shape

((3180, 15), (3180,))

In [40]:
# shape of testing set
x_test.shape, y_test.shape

((1060, 15), (1060,))

In [41]:
# importing decision tree classifier
from sklearn.tree import DecisionTreeClassifier

In [42]:
# creating decision tree function
dt_model = DecisionTreeClassifier(random_state=10)

In [43]:
# fitting the model
dt_model.fit(x_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
# checking training score
dt_model.score(x_train, y_train)

In [ ]:
# checking the testing score
dt_model.score(x_test, y_test)

In [ ]:
# predictions of testing set
dt_model.predict(x_test)

In [ ]:
# using probability
dt_model.predict_proba(x_test)

In [ ]:
y_pred = dt_model.predict_proba(x_test)[:, 1]

In [ ]:
new_y = []
for i in range(len(y_pred)):
    if y_pred[i]<0.6:
        new_y.append(0)
    else:
        new_y.append(1)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, y_pred)

In [ ]:
data.boxplot('cigsPerDay','male',rot = 30,figsize=(5,6))

In [ ]:
# Checking whether the target variables is balanced
import seaborn as sns
sns.set_style('whitegrid')
sns.countplot(x='TenYearCHD', data=data, palette='RdBu_r')

In [ ]:
data.hist()